/*##########  for error pages  ###############*/    
.all-page{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a0a0a !important;
}
.bubbles{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all .7s;
    justify-content:center;
}
.bubbles .span{
    transition: all .7s;
    position: relative;
    width: 30px;
    height: 30px;
    font-weight: bold;
}
.bubbles span:nth-child(odd){
    z-index: 7;
    color:#4fc3dc;
    animation: animatespan 15s linear infinite;
    animation-duration: calc(200s / var(--i));
    animation-direction: alternate-reverse;
}
@keyframes animatespan {
    0%   { transform: translateY(100vh) ; font-size:10px;}
    45%   { transform: translateY(50vh) ; font-size:25px;}
    100%   { transform: translateY(-10vh) ; font-size:10px;}
}
.bubbles span:nth-child(even){
    z-index: 5;
    color:#ff2d75;
    animation: animatespaneven 15s linear infinite;
    animation-duration: calc(200s / var(--i));
    animation-direction: alternate;
}
@keyframes animatespaneven {
    0%   { transform: translateY(100vh) ; font-size:20px;}
    45%   { transform: translateY(50vh) ; font-size:10px;}
    100%   { transform: translateY(-10vh) ; font-size:20px;}
}
.bubbles h4{
    bottom:200px;
}
.bubbles h1{
    top: calc(50vh / 2);
    font-size:150px;
    transform: skewY(20deg);
    z-index: 6;
    transition: all .7s;
    position: absolute;
    animation-name: page;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
} 
.bubbles a{
    z-index: 6;
    position: absolute;
    bottom: 100px;
}
@keyframes page {
    0%   { text-shadow:0px 0px 0px #4fc3dc90,0px 0px 0.5px #ff2d7590; transform: skewY(5deg); color:#f0f2f5a8;}
    10%  { text-shadow:0px 3px 0.5px #4fc3dc90,2px 03px 0.5px #ff2d7590; transform: skewY(10deg); }
    20%  { text-shadow:0px 6px 1px #4fc3dc90,4px 6px 1px #ff2d7590; transform: skewY(20deg); }
    40%  { text-shadow:0px 9px 2px #4fc3dc90,6px 9px 2px #ff2d7590; transform: skewY(10deg); }
    60%  { text-shadow:0px 12px 2.5px #4fc3dc90,8px 12px 2.5px #ff2d7590; transform: skewY(0deg); }
    80%  { text-shadow:0px 15px 3px #4fc3dc90,10px 15px 3px #ff2d7590; transform: skewY(-10deg); }
    100% { text-shadow:0px 18px 3.5px #4fc3dc90 12px 18px 3.5px #ff2d7590; transform: skewY(-20deg); color:#0a0a0a;}
    
}
